<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="100.2.1" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.2.1" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net461" />
</packages>